.homepage-container {
  padding: 40px;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}

.search-box {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  margin-bottom: 35px;
}

.card-box {
  margin-top: 20px;
}

.category-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 25px;
}

.cat-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #fafafa;
  font-size: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  cursor: pointer;
}

.cat-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.icon {
  font-size: 25px;
}
